/** Resetando os parametros que vem por padrão no CSS **/
* {
  margin:0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/** Tags que envolver toda a aplicação **/
html, body, #root {
    /** Para o fundo ocupar a tela toda **/
    min-height: 100%;
}

body {
  background: #000 url('./assets/Asgard.png') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: sans-serif;
  font-size: 14px;
}

/** Centralizar o container na tela **/
.container{
  margin: 80px auto;
  max-width: 450px;
  width:100%;
  /** Para a logo e o bloco fiquem um abaixo do doutro no centro da tela **/
  display: flex;
  /** Definindo items em colunas **/
  flex-direction: column;
  /** em coluna no centro **/ 
  align-items: center;
}

.content {
   width: 100%;
   background: #fff;
   margin-top: 50px;
   border-radius: 4px;
   padding: 30px;

}

.content > p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.content form {
  display: flex;
  flex-direction: column;
}


.content form label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}

.content form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px ;
  font-size: 16px;
}

/* Estilizando botão dentro do CONTENT para isso criar uma classe do botão "button.btn" 
OU SEJA, todo botão que tiver esta classe vai ser estilizado da forma montada abaixo
Essa parte foi alterada no App.js, alterando o trecho de códio html
DE: <button type="submit">Entrar</button>
PARA:<button className="btn" type="submit">Entrar</button>
*/
.content button.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: brown;
  color: #fff;
  cursor: pointer;
}

/* Efeito de troca de cor para quando passar o cursos em cima do botão */
.content button.btn:hover {
  background: rgb(187, 34, 34);
}



