/** Resetando os parametros que vem por padrão no CSS **/
* {
  margin:0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/** Tags que envolver toda a aplicação **/
html, body, #root {
    /** Para o fundo ocupar a tela toda **/
    min-height: 100%;
}

body {
  background: #000 url('./assets/Asgard.png') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: sans-serif;
  font-size: 14px;
}

/** Centralizar o container na tela **/
.container{
  margin: 80px auto;
  max-width: 450px;
  width:100%;
}